<!DOCTYPE html>
<html>
<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Blackjack</title>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="css/styles.css">
  <link href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
  <link href="css/grayscale.min.css" rel="stylesheet">

  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
  <script src="index.js"></script>
  <script src="deckBuilder.js"></script>
  <script src="calculateTotals.js"></script>

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->

</head>

<body  ng-app="blackjack" ng-controller="blackjackController" id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">

  <!-- Navigation -->
  <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
          Menu <i class="fa fa-bars"></i>
        </button>
          <a class="navbar-brand page-scroll" href="#page-top">
            <i class="fa fa-play-circle"></i> Blackjack
          </a>
      </div>

      <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
        <ul class="nav navbar-nav">
          <li class="hidden">
            <a href="#page-top"></a>
          </li>
          <li>
            <a class="page-scroll" href="#play">play</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <header class="intro">
    <div class="intro-body">
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-md-offset-2">
            <h1 class="brand-heading">Blackjack</h1>
            <p class="intro-text">A simple way to play.<br>
              Click the circle to begin.<br></p>
            <a href="#play" class="btn btn-circle page-scroll">
              <i class="fa fa-angle-double-down animated"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </header>

  <section id="play" class="container content-section">
    <div class="row">

      <div class="col-lg-6 col-lg-offset-3 text-center">
        <h3>Scores: Dealer - {{ dealerScore }} Player - {{ playerScore }}</h3>
      </div>

    </div>
    <div class="row">

      <div class="col-lg-12">
        <h2>Dealer</h2>

        <p>Cards:
        <span ng-if="dealerCards.length === 1" ng-repeat="card in dealerCards"> {{ "*" + card.name + " of " + card.suit + "* " }} *???*</span>
        <span ng-if="dealerCards.length !== 1" ng-repeat="card in dealerCards"> {{ "*" + card.name + " of " + card.suit + "* " }}</span>
        <br><span>{{ dealerTotal }}</span></p>
      </div>

    </div>
    <div class="row">

      <div class="col-lg-12">
        <h2>Player</h2><h2 class="text-danger" ng-if="bust">Bust!</h2>

        <p>Cards: <span ng-repeat="card in playerCards"> {{ "*" + card.name + " of " + card.suit + "* "}}</span><br><span> {{ playerTotal }}</span></p>

        <button ng-click="hit();" class="col-lg-6 btn btn-success">
          Hit
        </button>
        <button ng-click="hold();" class="col-lg-6 btn btn-danger">
          Hold
        </button>
      </div>

    </div>
    <br>
  </section>

  <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  <script src="grayscale.min.js"></script>

</body>

</html>